@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/styles.scss';

.filter {
  width: 30%;
  background-color: $white;
  margin-right: 2rem;
  border-radius: 5px;
  padding: 1rem 0;
  @extend %shadowBlock;

  display: flex;
  flex-direction: column;

  .title {
    margin-left: 1rem;
  }
}
