@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/typography.scss';

.item-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 2rem;

  &:last-child {
    margin: 0;
  }
}
