@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/typography.scss';

.item-data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  &:last-child {
    width: 30%;
  }

  .top {
    opacity: 0.6;
    @extend %tilte;
    margin-bottom: 0.5rem;
  }

  .bottom {
    font-size: 16px;
    @extend %p1;
  }
}
